/*##########################TAG SELECTORS##########################*/

/*https://colorhunt.co/palette/264562*/

body {
  margin: 0;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

h1 {
  color: #1b2021;
  font-size: 350%;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  color: #1b2021;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

/*##########################CLASS SELECTORS########################*/

.cloudBottom {
  position: relative;
  right: 400px;
}

.cloudTop {
  position: relative;
  left: 400px;
}

.divFirst {
  background-color: #5f939a;
  font-size: 2em;
  font-family: "Dancing Script", cursive;
  padding-top: 60px;
}
.flag {
}
.mountain {
  display: block;
  margin: 0 auto;
}

.name {
  margin: 0px;
  padding: 20px;
}

.selfie {
  border-radius: 100%;
}

/*##########################ID SELECTORS###########################*/
